*{
margin:0px ;
padding:0px;
}
html,body{
	height:100%;
	width:100%;
	margin:0px;
}
#header{
	height:120px;
	//background-color:#0066FF;
	top:0px;
}
#menu_content{
	width:100%;
	overflow:hidden;
}
#menu{
	height:55px;
	background-color:#2F4F4F;
}
ul{
	width:100%;
	text-align:center;
	display: table;
	border-collapse:separate;
	border-spacing: 10px;
}
ul:hover{
	width:100%;
	text-align:center;
	display: table;
	background-color:#396262;
	border-collapse:separate;
	border-spacing: 10px;
}
.change:hover{
	background-color:#396262;
}
.item{
	float:left;
}
.menu_main{
	display: table;
	border-collapse:separate;
	border-spacing: 15px;
	width:100px;
	text-align:center;
	cursor:pointer;
}
.menu_main:hover{
	display: table;
	border-collapse:separate;
	border-spacing: 15px;
	width:100px;
	text-align:center;
	cursor:pointer;
}
.menu_sub{
	display:none;
	text-align:center;
	background-color:#2F4F4F;
	width:100px;

}

#desc{
    position: fixed;
    bottom:60px;
    right:20px;
}

#main{
    min-height: calc(100% - 175px - 150px - 8px);
	width:100%;
/*	margin-bottom: 170px;*/
}
#content{
	height:1000px;
	width:100%;
}
#footer{
	//text-align:center;
	background-color:#DDDDDD;
	height:170px;
	width:100%;
	position:relative;
	left:0px;
	//margin-top:-145px;
	bottom:0;
	
}

#footer_menu{
	position:relative;
	left:0px;
}
#footer_text{
	position:relative;
	left:0px;
}
.a_style{
	color:white;
	text-decoration:none;
}
.a_style2{
	color:black;
	text-decoration:none;
}
.menu_contener{
	text-align:center;
		
}
.border_style{
	border-top:1px black solid;
	border-right:1px black solid;
	border-left:1px black solid;
	border-bottom:1px black solid;
}

.slider_container {
	z-index:-1;
    margin: -3px auto;
    width: 100%;
    height: 775px;
    position: relative;
    border: 0px solid;    
    border-color: #fff;
    border-bottom-width: 0px;
    background-color: #ffffff;
    box-shadow: #666 0 0 5px;
}

.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
	width:100%;
	height:650px;
    filter: alpha(opacity=0);
}
.slider_container div {
    -webkit-animation: round 25s linear infinite;
            animation: round 25s linear infinite;
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
.slider_container div:nth-child(5) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container div:nth-child(4) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
}

.slider_container span {    
    color: #000;
    background: #fff;
    position: absolute;
    left: 0%;
    top: 650px;
    width: 100%;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    -webkit-transform:scaleY(1);
        -ms-transform:scaleY(1);
            transform:scaleY(1);
    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.slider_container:hover span {
    width: 100%;
    -webkit-transform:scaleY(1);
        -ms-transform:scaleY(1);
            transform:scaleY(1);
}

#sign{
	display: none;
	box-sizing: border-box;
    padding: 20px 40px 20px 40px;
    position: fixed;
    top: 0px;
    right: 0px;
    /* width: 200px; */
    border: 2px solid #F09090;
    background-color: white;
	color:black;
}
